@use "../abstracts/mixins";
.hamburger-menu {
  cursor: pointer;
  transition: all 0.3s;
  backface-visibility: none;
  @include mixins.respond(tab-port) {
    display: none;
  }
}
.hamburger-menu--rotated {
  transform: rotateZ(720deg);
}

.overflow-hidden {
  overflow: hidden;
}
.logo--nav,.hamburger-menu {
  z-index: 1000000000000;
}
.links-container--nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  @include mixins.respond(phone) {
    display: flex;
    width: 10px;
    gap: 0px;
  }
}
.link--nav-mobile {
  font-size: 3rem;
  font-weight: 100000000000;
  @include mixins.respond(tab-port) {
    font-size: 1.5rem;
  }
}
.menu-container {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  transition: .5s;
  @include mixins.respond(tab-port) {
    width: unset;
    height: unset;
    z-index: unset;
    background: unset;
    position: static;
    padding: 0;
    display: block;
  }
}
.hidden {
  left: -2000px;
  @include mixins.respond(tab-port) {
    left: 0;
  }
}